# Terraform local files
/infra/.terraform/
/infra/terraform.tfvars
# Terraform state files (should never be committed)
infra/terraform.tfstate
infra/terraform.tfstate.backup
terraform.tfstate
/log/*

.terraform.tfstate.lock.info