torch>=2.1.0
transformers>=4.37.0
accelerate>=0.27.0
bitsandbytes>=0.42.0
peft>=0.8.2
datasets>=2.17.0
pandas
tqdm
scipy
sentencepiece
protobuf
ipykernel
jupyter
llama-cpp-python
trl>=0.7.11
mlflow
boto3
scikit-learn
